{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="container">
        <h2>About me</h2>
     <div class="container">
    <body>
        <p> I am a student</p>
        <p> My hobbies are to waste money, play fortnite and occasionally play basketball</p>
        <p> My favorite food is: </p>
        <ul>
            <li> Pizza</li>
            <li> Burgers</li>
            <li> Rice</li>
        </ul>

        <img src='static/images/tree.png' alt='tree'></img>
</div>
{% endblock %}